{% extends "_base.html" %}
{% load static %}
{%block conteudo%}
<div class="d-flex justify-content-between align-items-center mb-4">

    <h2>Lista de Usuarios</h2>
    <a href="{% url 'add-usuario'%}"> Novo + </a>
</div>
    
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
       <tr>
        <th> Nome</th>
        <th> CPF </th>
        <th> Telefone </th>
        <th> Data de nascimento </th>
        <th> Opção 1 </th>
        <th> Opção 2</th>
        <th> Opção 3 </th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
            <tr>
            <td>{{usuario.user}} </td>
            <td>{{usuario.cpf}}</td>
            <td>{{usuario.telefone}}</td>
            <td>{{usuario.dt_nasc}}</td>
            <td> <a href='/usuario/{{usuario.id}}/'class='btn btn-info btn-sm'> Detail </a> </td>
            <td> <a href='/usuario/update/{{usuario.id}}/'class='btn btn-warning btn-sm'> Editar </a> </td>
            <td> <a href='/usuario/delete/{{usuario.id}}/'class='btn btn-danger btn-sm'> Excluir </a> </td>
            </tr>
        {% endfor %} 
        </tbody>   
        </table>
    </div>
{% endblock %}
